<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Main Container -->
  <div class="weatherContainer">
    <h2 class="appHeading">Weather App</h2>

    <!-- Input division for taking city -->
    <div class="search">
      <form id="weatherForm" action="">
        <input #input (change)="onValueChange(input.value)" type="text" placeholder="Enter City">
        <button (click)="onClick()" class="searchButton">
          <ul>
            <li><i class="fa-solid fa-magnifying-glass"></i></li>
          </ul>
        </button>
      </form>
    </div>

    <div *ngIf="flag" class="weatherMain">
      <h2 id="city">{{city | titlecase}}</h2>
      <img src="/assets/weather.png" alt="">
      <h5 class="weatherMain">{{weather}}</h5>
      <h2 id="temp">{{temp}}<span><sup>o</sup>c</span></h2>
      <p class="todayDates">{{currentDate | date}}</p>
      <p class="todayDates">{{time | date: 'hh:mm:ss a'}}</p>
    </div>
  </div>
</body>


<router-outlet></router-outlet>